body {
    background-color: #e8e6d9;
    position: relative;
    overflow: auto;
}
#menu {
    width:15%;
    height: 100%;
    background-color:#2b2b2b;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top:120px;
    float:left;
    border:0;
    text-align: center;
    margin:0;
}

#menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial;
    color: #818181;
    display: block;
  }
  
#menu a:hover {
    color: #f1f1f1;
}


#user {
    height:8%;
    width:100%;
    position: absolute;
    display:flex;
    flex-direction: row;
    bottom:16%; 
    
    padding: 6px 8px 6px 16px;
}

#user img {
    border-color: transparent;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

#user a {
    font-size:15px;
    font-family: Arial;
    color: orange;
    padding-left:10px;
    padding-top:20px;
    text-align: center;
}


#header {
    margin-left:15%;
    width: 85%;
    height: 10%;
    top:0px;
    float:left;
    text-align: center;
}

#header img{
    width:20%;
}

#header h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 50px;
    color:orange;

}

#sredina{
    position: relative;
    z-index: 2;
    margin-left: 15%;
    width:85%;
    height: 100%;
}

#con {
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 90%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: #e8e6d9; 
}

.gornja {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 40px;
    font-size: larger;
    vertical-align: middle;
    background-color:#c8c6b9 ;
    position: relative;
    height: 160px;
}
    
.gornja td {
    font-size: larger;
    vertical-align: middle;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}   


.gornja tr{
    /*text-align: center;*/
    vertical-align: middle;
}

.oblak{
    background-color: #e8e6d9;
    position: relative;
    z-index: 2;
    width: 100%;

}

.userimg{
    height: 100%;
    width:15%;
    
}

#con img{
    width: 90%;
    border-radius: 40px;
    vertical-align: middle;
    margin:5px;
    
    /*float:left;*/
}

#con h1 {
    font-family: Arial;
    font-size: 22px;
    font-weight: bolder;
}

#con h3 {
    font-family: Arial;
    font-size: 16px;
    font-weight: lighter;
}


#content {
    margin-left: 15%;
    width: 85%;
    height:80%;
    float:left;
    text-align: center;

}

#content h3 {
    margin-top:8%;
    font-family: Arial;
    font-style: italic;
    color:darkslategray;
}


#txtinput {
    width: 40%;
    padding: 10px;
    padding-right: 50px;
    border-style: solid;
    border-color: orange;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 15px;
    
}

#txtinput:focus {
    outline:none;
}

#subinput {
    margin-left: -50px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    outline: none;
}

#subinput img {
    height: 100%;
}

#tags{
    margin-left: 15%;
    margin-top:5%;
    text-align: center;
    width: 85%;
    float:left;
}


#tags button {
    border-radius: 15px;
    background: transparent;
    color: darkslategray;
    border-color: darkslategray;
    border-style: solid;
    font-size: 16px;
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
}

#tags button:focus {
    outline: none;
    background-color: darkgray;
}

#tags button:hover{
    background-color: darkgray;
}

.gornja a{
    float: right;
    font-family: Arial;
    font-size:14px;
    color:darkslategray;
    text-decoration: none;
    font-weight: bolder;
}

.gornja a:hover{
    color:orange;
}

#footer { 
    position: fixed;
    bottom:0;
    width:85%;
    height: 5%;
    margin-left: 15%;
    text-align: center;
    color: #818181;
    font-family: 'Courier New';
    z-index: 0;
    float:left;
}

.dropbtn {
    background-color: #2b2b2b;
    color: #818181;
    padding: 6px 8px 6px 16px;
    font-size: 25px;
    border: none;
}
  
.dropdown {
    position : relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2b2b2b;
    z-index: 1;
}
  
.dropdown-content a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    color: rgb(255, 255, 255);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
      color: white;
}