.majstor h3{
    font-family: Arial;
    font-size: 2vh;
    font-weight: lighter;
}
.majstor h1{
    font-family: Arial;
    font-size: 3.5vh;
}

button{
    font-size: 2vh;
}

.majstor textarea{
    margin-bottom: 5%;
}

.majstor{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 10px;
    background-color: #c8c6b9;
    border-radius: 30px;
}

.majstor td{
    font-size: larger;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}

.userimg {
    width: 15%;
}
.majstor img{
    /*margin-left: 5%;*/
    width:100%;
    border-radius: 15px;
    vertical-align: middle;
}


.prihvati button{
    float:left;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
    background-color: #03ac13;
    font-weight: bolder;;
    color: #d8d6c9;
    padding: 5px 5px 5px 5px;
}

.odbij button{
    float:left;
    border: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50%;
    background-color: red;
    font-weight: bolder;
    color: #d8d6c9;
    padding: 5px 5px 5px 5px;
}

.emailArea {
    outline:none;
    border:none;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
    resize: none;
}

.emailButton {
    outline:none;
    border:none;
    border-radius: 30px;
    background-color: #686659;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    font-weight: bolder;
    color: #d8d6c9;
}
