body {
    background-color: #e8e6d9;
    position: relative;
    overflow: auto;
}

#con {
    background-color: #e8e6d9; 
}

.gornja {
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    border-radius: 40px;
    font-size: larger;
    vertical-align: middle;
    background-color:#c8c6b9 ;
    position: relative;
    height: 200px;
}
    

.gornja h2 {
    font-family: Arial;
    font-size: 12px;
}

.gornja tr{
    /*text-align: center;*/
    vertical-align: middle;
}

.oblak{
    background-color: #e8e6d9;
    position: relative;
    z-index: 2;
    width: 100%;

}

.userimg{
    height: auto;
    width: auto;
    max-width: 180px;
    max-height: 180px;
    border-radius: 50%;
    border: none;
}

#con img{
    width: 90%;
    border-radius: 40px;
    vertical-align: middle;
    margin:5px;
    
    /*float:left;*/
}

#con h1 {
    font-family: Arial;
    font-size: 20px;
    font-weight: bolder;
   margin-top: 8%;
}

#con h3 {
    font-family: Arial;
    font-size: 14px;
    font-weight: lighter;
}


#content {
    margin-left: 15%;
    width: 85%;
    height:80%;
    float:left;
    text-align: center;

}

#content h3 {
    margin-top:8%;
    font-family: Arial;
    font-style: italic;
    color:darkslategray;
}


#txtinput {
    width: 40%;
    padding: 10px;
    padding-right: 50px;
    border-style: solid;
    border-color: orange;
    border-radius: 20px;
    margin-top: 2%;
    font-size: 15px;
    
}

#txtinput:focus {
    outline:none;
}

#subinput {
    margin-left: -50px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    border: none;
    background-color: white;
    outline: none;
}

#subinput img {
    height: 100%;
}


.gornja a{
    float: right;
    font-family: Arial;
    font-size:14px;
    color:darkslategray;
    text-decoration: none;
    font-weight: bolder;
}

.gornja a:hover{
    color:orange;
}
.vise
{
    vertical-align: bottom;
    text-align: right;
   margin-top: 20px;
   margin-right: 20px;
}
.progress
{
    visibility: hidden;
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 5px;
    border: none;
    margin-top: 17px;
    margin-bottom: 0px;
   
}

.progress-bar
{
    color: black;  
}
.mala
{
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 0px;
}
.btn 
{

    border-width: 20%;
    
    vertical-align:top;
 
}
.imeP
{
    text-align: center;
}
#btnD
{
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
   
    margin-top: 5%;
    text-align: right;
}
#mejl
{
    text-align: left;
}
.progress .bar {
    z-index: 1;
    position: absolute;
}

.progress span {
    margin-top: 25px;
    position: absolute;
    top: 0;
    z-index: 2;
    color: black; /* Change according to needs */
    text-align: center;
    width: 100%;
}

#btnD{
    border:none;
    outline:none;
    padding:0;
    margin:0;
    background-color:#c8c6b9 ;
    color:black;
}


