body {
    background-color: #e8e6d9;
    position: relative;
    overflow: auto;
}



/*#sredina{*/
/*    position: relative;*/
/*    z-index: 2;*/

/* */
/*}*/


/*.zahtev{*/

/*    display: flex;*/
/*    flex-direction: row;*/
/*    !*position: relative;*!*/

/*}*/

.zahtevi h3{
    font-family: Arial;
    font-size: 25px;
}

td h4{
    font-family: Arial;
    font-size: 20px;
}

td h1{
    font-family: Arial;
    font-size: 30px;
}

.zahtevi table{

    background-color: #c8c6b9;
    border-radius: 30px;
    font-size: larger;
    vertical-align: middle;
    position: relative;
}

.zahtevi td{
    font-size: larger;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}

.userimg {
    width: 30%;
}

.zahtevi tr{
    vertical-align: middle;

}
.zahtevi img{
    width: 100%;
    border-radius: 15px;
    vertical-align: middle;
    padding: 10px;
}

.nemaRezultata{
    font-size: 3vh;
}

/*#sredina{*/
/*    position: relative;*/
/*    z-index: 2;*/
/*}*/




