body {
    background-color: #e8e6d9;
    position: relative;
    overflow: auto;
}

#sredina {
    position: relative;
    z-index: 2;
}

.zahtev {
    display: flex;
    flex-direction: row;
}

#zahtevi table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px;
    width: 80%;
    background-color: #c8c6b9;
    border-radius: 30px;
    vertical-align: middle;
    position: relative;
}

#zahtevi td {
    font-size: larger;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}

#userimg {
    width: 15%;
}

#zahtevi tr {
    /* height: 5%;*/
    vertical-align: middle;

}

#zahtevi img {
    width: 100%;
    border-radius: 15px;
    vertical-align: middle;
}

.prihvati button {
    float: left;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
    background-color: #03ac13;
    color: #d8d6c9;
    padding: 3px;
    font-size: 2.2vh;
}

.odbij button {
    float: left;
    border: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50%;
    background-color: red;
    color: #d8d6c9;
    padding: 3px;
    font-size: 2.2vh;
}

#sredina {
    position: relative;
    z-index: 2;
}

.ime {
    font-weight: normal;
    font-size: 2.8vh;
}

.adresa {
    font-size: 2.2vh;
    font-weight: normal;
}

.opis {
    font-size: 2.2vh;
    font-weight: normal;
}

.row {
    margin-bottom: 10px;
}

.datumVreme {
    font-size: 2.2vh;
    font-weight: normal;
}
