body {
    background-color: #e8e6d9;
    position: relative;
    overflow: auto;
}


#sredina{
    position: relative;
    z-index: 2;
    margin-left: 15%;
    width:85%;
}

#zahtevi{
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    width:90%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    background-color: #e8e6d9; 
}

.zahtev{
    display: flex;
    flex-direction: row;
    /*position: relative;*/
    width: 100%;
}

.zahtev h3{
    font-family: Arial;
    font-size: 20px;
}

.zahtev h4{
    font-family: Arial;
    font-size: 16px;
}

.zahtev h1{
    font-family: Arial;
    font-size: 24px;
}

#zahtevi table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width:80%;
    background-color: #c8c6b9;
    border-radius: 30px;
    font-size: larger;
    vertical-align: middle;
    position: relative;
}
    
#zahtevi pre{
    /*margin-left: -15%;*/
    font-size: larger;
    text-align: left;
}

#zahtevi td{
    font-size: larger;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}

#userimg {
    width: 15%;
}

#zahtevi tr{
   /* height: 5%;*/
    vertical-align: middle;

}
#zahtevi img{
    /*margin-left: 5%;*/
    width:100%;
    border-radius: 15px;
    vertical-align: middle;
}


.prihvati button{
    float:left;
    border: none;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
    background-color: #03ac13;
    font-weight: bolder;;
    color: #d8d6c9;
    padding: 5px 5px 5px 5px;
}

.odbij button{
    float:left;
    border: none;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50%;
    background-color: red;
    font-weight: bolder;;
    color: #d8d6c9;
    padding: 5px 5px 5px 5px;
}

#sredina{
    position: relative;
    z-index: 2;
}


.komentarinput{
    width: 70%;
    text-align: left;
    background-color:rgb(233, 233, 240);
    resize: none;
    border: none;
    border-radius: 10px;
}

.ukloni button{
    float:left;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color: red;
    font-weight: bolder;;
    color: #d8d6c9;
}

.komentardugme {
    border:none;
    border-radius: 10px;
    background-color: #989689;
    font-weight: bolder;
    padding: 5px 5px 5px 5px;
}

.komentartd{
    width: 50%;
    border-radius: 15px;
    padding: 10px;
    
}

.komentarLabel {
    font-family: 'New Courier';
    font-size:16px;
}

.ocenaLabel{
    border:none;
    background-color:  #c8c6b9;
    font-size: xx-large;
    font-weight: bolder;
}
.ocenaDugme{
    border:none;
    background-color:  #c8c6b9;
    font-size: xx-large;
}