<!--Jovan Pavlovic 2018/0012-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POPRAVI.com</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stilPrikaz.css">
</head>
<body>
    <div id="header">
        <img src="slike/logoMali.png">
    </div>
    <div id="menu">
        <a href="pretrazivanje.html">Rezerviši termin</a>
        <a href="aktivnapopravka.html">U toku</a>
        <a href="istorija.html">Istorija</a>
        <a href="zahtevi.html">Zahtevi</a>
        <a href="kalendar.html">Kalendar</a>
        <a href="mojeUsluge.html">Moje usluge</a>
        <a href="dodavanjeusluga.html">Dodaj uslugu</a>
        <div class="dropdown">
            <button class="dropbtn">Moj nalog</button>
            <div class="dropdown-content">
                <a href="logovanje.html">Uloguj se</a>
                <a href="registrovanje.html">Registruj se</a>
            </div>
        </div>
          <div id="user">
              <img src="slike/Kalu.jpg" alt="korisnicka slika">
              <a href="pretrazivanje.html">Majstor Bob</a>
          </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="prikazMajstora offset-0 col-12 offset-md-2 col-md-10">
                <div class="row">
                    <div id="info" class="offset-1 col-10">
                        <table>
                            <tr>
                                <td class="slikaMajstora"><img src="slike/covek1.webp"></td>
                                <td class="podaci">
                                    <h1>
                                        Nebojsa Paunovic Paun
                                    </h1>
                                    <p>
                                        <b>telefon: </b>066 453 002<br>
                                        <b>mejl: </b>paunMajstor123@gmail.com<br>
                                    </p>
                                </td>
                                <td class="ocene" style="border-left: solid; width:33%">
                                    <h3>
                                        Majstora preporucuje: <b>66%</b> <br> 
                                        Prosecno vreme reakcije: <b>03:40</b> <br> 
                                        Prosecan cena svih usluga: <b>4500</b>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-1 col-10 text-center" style="margin-top:20px; margin-bottom:10px;">
                        <h4>Komentari korisnika</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="komentarii offset-1 col-10">
                        <table>
                            <tr>
                                <td class="slikaKorisnika"><img src="slike/covek1.webp"></td>
                                <td>
                                    <h1>
                                        Dobar majstor! Brzo je otklonio kvar. Cena je malo visa (on tvrdi da je deo koji je kupio bio skup), ako vam to nije problem preporucujem!
                                    </h1>
                                    <h4>
                                       Marko Zivanovic
                                    </h4>
                                </td>
                            </tr>
                        </table>
                        
                        <table>
                            <tr>
                                <td class="slikaKorisnika"><img src="slike/covek1.webp"></td>
                                <td>
                                    <h1>
                                        Dobar majstor! Brzo je otklonio kvar. Cena je malo visa (on tvrdi da je deo koji je kupio bio skup), ako vam to nije problem preporucujem!
                                    </h1>
                                    <h4>
                                       Ime Prezime
                                    </h4>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="slikaKorisnika"><img src="slike/covek1.webp"></td>
                                <td>
                                    <h1>
                                        Dobar majstor! Brzo je otklonio kvar. Cena je malo visa (on tvrdi da je deo koji je kupio bio skup), ako vam to nije problem preporucujem!
                                    </h1>
                                    <h4>
                                       Ime Prezime
                                    </h4>
                                </td>
                            </tr>
                        </table><table>
                            <tr>
                                <td class="slikaKorisnika"><img src="slike/covek1.webp"></td>
                                <td>
                                    <h1>
                                        Dobar majstor! Brzo je otklonio kvar. Cena je malo visa (on tvrdi da je deo koji je kupio bio skup), ako vam to nije problem preporucujem!
                                    </h1>
                                    <h4>
                                       Ime Prezime
                                    </h4>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td class="slikaKorisnika"><img src="slike/covek1.webp"></td>
                                <td>
                                    <h1>
                                        Dobar majstor! Brzo je otklonio kvar. Cena je malo visa (on tvrdi da je deo koji je kupio bio skup), ako vam to nije problem preporucujem!
                                    </h1>
                                    <h4>
                                        Marko Markovic
                                    </h4>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-1 col-10 text-center" style="margin-top:20px; margin-bottom:10px;">
                        <h4>Komentari korisnika</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-1 col-10">
                        <table class="uslugaPrikaz">
                            <tr>
                                <td class="slikaMajstora"><img src="<?php echo base_url(); ?>/slike/Kalu.jpg" ></td>
                                <td class="opisUsluge">
                                    <h1>
                                        <?= $naslov ?>hgv
                                    </h1>
                                    <p>
                                        <?= $opis ?>hjhkhk
                                    </p>
                                </td>
                                <td style="border-left: solid ; width:33%;">
                                    <h3>
                                        Majstora preporucuje: 82% <br>
                                        Prosecno vreme reakcije:02:25 <br>
                                        Prosecan cena ove usluge: 3242 
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-1 col-10">
                        <table class="uslugaPrikaz">
                            <tr>
                                <td class="slikaMajstora"><img src="<?php echo base_url(); ?>/slike/Kalu.jpg" ></td>
                                <td class="opisUsluge">
                                    <h1>
                                        Naslov
                                    </h1>
                                    <p>
                                        oosoa[sda df af awg  fewkfenw ef wfe wfe wef w efweni
                                    </p>
                                </td>
                                <td style="border-left: solid ; width:33%;">
                                    <h3>
                                        Majstora preporucuje: 82% <br>
                                        Prosecno vreme reakcije:02:25 <br>
                                        Prosecan cena ove usluge: 3242 
                                    </h3>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
    
        </div>
    </div>
    <div id="footer">
        LK Corporation © 2021
    </div>
</body>
</html>